.container {
    display: flex;
    height: 100vh; /* Puna visina ekrana */
    background-color: #dbd8e5;
  }
  
  .left-panel {
    width: 320px; 
    background-color: #f8f6ff !important;
    border-right: 2px solid #dbd8e5;
    padding: 20px;
    position: fixed;
    left: 2px;
    top: 2px;
    bottom: 2px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .right-panel {
    width: 320px; 
    background-color: #f8f6ff !important;
    color: rgb(0, 0, 0);
    padding: 20px;
    position: fixed;
    right: 0;
    top: 2px;
    bottom: 2px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 2px solid #dbd8e5;
  }
  
  .chat-panel {
    flex: auto; /* Zauzima sav preostali prostor između panela */
    margin-left: 320px !important; 
    margin-right: 320px !important; 
    background-color: #f8f6ff;
    padding: 1%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top:2px !important;
    margin-bottom: 2px;
  }

  .statistics-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'Inter', sans-serif !important;
  }
  
  .statistics-container {
    position: relative;
    background: linear-gradient(120deg, #c5d1e9, #dad3f4) !important;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 700px;
    width: 70%;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1001;
  }
  
  .close-statistics {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #456db4;
    color: white;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    z-index: 1002;
  }
  .MuiPaper-root {
    background-color: #f4f4fe !important;
    max-width: 100% !important;
    border-radius: 10px !important;
    padding-right: 50px !important;
  }
  