.wallpaper-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0dcf5;
}



.buttons-wallpaper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-otkazi{
  background-color: #5f81bc ;
  color: white ;
  border-radius: 8px ;
  padding: 0.3rem 0.7rem ; 
  min-width: auto ;
  align-items: flex-end;
}
.button-obrisi{
  background-color: #5f81bc ;
  color: white ;
  border-radius: 8px ;
  padding: 0.3rem 0.7rem ; 
  min-width: auto ;
align-items: flex-end;
}
